<html>
<body>

<h1>{{restaurant.name}}</h1>

{% if not items: %}
	<p>You currently have no Menu Items</p>
{% endif %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li><strong>{{ message }}</strong></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<a href="{{ url_for('showRestaurants') }}">[Back]</a>
<a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">[Create new Menu Item]</a>

{% for item in items %}

	<div>
		{{ item.name }}
		/{{ item.description }}
		/{{ item.price }}
		<a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}">[Edit]</a>
		<a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}">[Delete]</a>
	</div>

{% endfor %}

</body>
</html>

